body {
  background-color: #374d68;
}
header .main-cont {
  margin-top: 15px;
}
header .main-cont .row .logo-title {
  color: white;
  font-weight: normal;
  text-decoration: none;
  padding-left: 45px;
}
header .main-cont .row .logo-title:hover {
  text-decoration: none;
}
header .main-cont .row ul {
  line-height: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}
header .main-cont .row ul .v-line {
  position: relative;
  top: 5px;
  display: inline-block;
  padding: 0;
  margin: 0 20px;
  height: 28px;
  width: 1px;
  background: linear-gradient(to top, rgba(48, 48, 48, 0.2), #303030, rgba(48, 48, 48, 0.2));
}
header .main-cont .row ul .globe {
  position: relative;
}
header .main-cont .row ul .number {
  position: absolute;
  font-size: 10px;
  right: -10px;
  bottom: -5px;
  padding: 2px 4px;
  border-radius: 10px;
  color: white;
  background-color: #00000081;
}
header .main-cont .row ul a {
  text-decoration: none;
  color: #cfd4db;
  transition: all 0.2s linear;
}
header .main-cont .row ul a:hover {
  color: white;
}
header .main-cont .row ul li {
  display: inline;
  color: #cfd4db;
  padding: 0 12px;
  font-size: 19px;
}
header .main-cont .row ul li:first-child {
  padding-left: 30px;
}
header .main-cont .row .main-search {
  color: white;
  padding-left: 28px;
  border-color: #374d68;
  width: 200px;
  height: 30px;
  background: url(search.png) 5px 6px no-repeat #354252;
}
header .main-cont .row .main-search:focus {
  box-shadow: none;
}
.left-nav {
  margin-top: 30px;
}
.left-nav ul {
  width: 210px;
  padding-left: 0;
  list-style: none;
  font-weight: 300;
}
.left-nav ul .activ {
  font-weight: 600;
}
.left-nav ul sup {
  padding-left: 4px;
  color: #efad2c;
}
.left-nav ul li {
  margin: 6px 20px;
}
.left-nav ul li a {
  font-size: 13px;
  display: block;
  padding: 6px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: all 0.1s linear;
}
.left-nav ul li a i {
  padding-right: 10px;
  color: #8692a2;
}
.left-nav ul li a:hover {
  background: #334861;
}
.left-nav ul li .arrow {
  display: block;
  position: relative;
}
.left-nav ul li .arrow::after {
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  display: inline-block;
  font-size: 13px;
  position: absolute;
  font-weight: 600;
  transform: rotate(90deg);
  right: 15px;
  top: 20%;
}
.left-nav ul li .arrow-deg {
  display: block;
  position: relative;
}
.left-nav ul li .arrow-deg::after {
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  display: inline-block;
  font-size: 13px;
  position: absolute;
  font-weight: 600;
  transform: rotate(0deg);
  right: 15px;
  top: 20%;
}
.left-nav ul li .sub-menu {
  list-style: none;
  width: 180px;
}
.left-nav ul li .sub-menu li {
  margin: 5px 10px;
}
.left-nav ul li .sub-menu li a {
  padding: 2px 10px;
  padding-left: 50px;
}
.left-nav ul li .sub-menu li a:hover {
  background: #334861;
}
.left-nav .nav-sub-title {
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 200px;
}
.left-nav .nav-sub-title p {
  font-size: 14px;
  color: white;
  padding-left: 40px;
}
.left-nav .nav-sub-title a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding-right: 22px;
  line-height: 24px;
}
.left-nav .nav-sub-title a i {
  font-size: 12px;
}
.left-nav .left-nav-bottom {
  padding-top: 0;
  margin-top: 0;
}
.left-nav .left-nav-bottom li {
  margin-top: 5px;
  margin-bottom: 5px;
}
.left-nav .left-nav-bottom li a {
  padding-top: 2px;
  padding-bottom: 2px;
}
.left-nav .left-nav-bottom li a:hover {
  background-color: transparent;
}
.left-nav .left-nav-bottom li a i {
  font-size: 10px;
}
.left-nav .left-nav-bottom li a .yellow {
  color: #efad2c;
}
.left-nav .left-nav-bottom li a .grey {
  color: #666666;
}
.left-nav .left-nav-bottom li a .red {
  color: #da471e;
}
.block-conteiner {
  display: flex;
}
.block-conteiner h2 {
  margin-left: -15px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #fff;
}
.block-conteiner h2 small {
  font-weight: 300;
  font-size: 60%;
}
.block-conteiner .button-section {
  margin-left: -15px;
  width: 100%;
  border-radius: 3px;
  background: #65768b;
  padding: 12px 17px;
}
.block-conteiner .button-section header {
  position: relative;
  background: none;
  color: #fff;
}
.block-conteiner .button-section header h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.block-conteiner .button-section .btn-body {
  background-color: #566170;
  border-radius: 3px;
  margin-bottom: 20px;
}
.block-conteiner .button-section .btn-body .btns {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.block-conteiner .button-section .btn-body .default {
  background-color: #666666;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  margin-left: -7px;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 3px;
}
.block-conteiner .button-section .btn-body .primary {
  background-color: #4f87ba;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 3px;
}
.block-conteiner .button-section .btn-body .info {
  background: #51bfbb;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 15px;
  font-size: 13px;
  border-radius: 3px;
}
.block-conteiner .button-section .btn-body .success {
  background: #5ab85d;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 3px;
}
.block-conteiner .button-section .btn-body .warning-btn {
  color: #fff;
  background: #efad2c;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 3px;
}
.block-conteiner .button-section .btn-body .danger-btn {
  color: #fff;
  background: #da471e;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 3px;
}
.block-conteiner .button-section .btn-body .invers {
  background: #fff;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 3px;
}
.block-conteiner .footer {
  margin-left: -15px;
  color: #d2d2d2;
  margin-top: 110px;
}
.block-conteiner .footer a {
  color: #8fc6fa;
}
