body {
  background-color: #374d68;
}
header {
  .main-cont {
    margin-top: 15px;
    .row {
      .logo-title {
        color: white;
        font-weight: normal;
        text-decoration: none;
        padding-left: 45px;
        &:hover {
          text-decoration: none;
        }
      }
      ul {
        line-height: 40px;
        padding: 0;
        margin: 0;
        list-style: none;
        .v-line {
          position: relative;
          top: 5px;
          display: inline-block;
          padding: 0;
          margin: 0 20px;
          height: 28px;
          width: 1px;
          background: linear-gradient(
            to top,
            rgba(48, 48, 48, 0.2),
            rgb(48, 48, 48),
            rgba(48, 48, 48, 0.2)
          );
        }
        .globe {
          position: relative;
        }
        .number {
          position: absolute;
          font-size: 10px;
          right: -10px;
          bottom: -5px;
          padding: 2px 4px;
          border-radius: 10px;
          color: white;
          background-color: #00000081;
        }

        a {
          text-decoration: none;
          color: #cfd4db;
          transition: all 0.2s linear;
          &:hover {
            color: white;
          }
        }
        li {
          display: inline;
          color: #cfd4db;
          padding: 0 12px;
          font-size: 16px;

          &:first-child {
            padding-left: 30px;
          }
        }
      }

      .main-search {
        color: white;
        padding-left: 28px;
        border-color: #374d68;
        width: 200px;
        height: 30px;
        background: url(search.png) 5px 6px no-repeat #354252;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}
.left-nav {
  margin-top: 30px;
  ul {
    width: 210px;
    padding-left: 0;
    list-style: none;
    sup {
      padding-left: 4px;
      color: #efad2c;
    }
    li {
      margin: 6px 20px;
      a {
        font-size: 13px;
        display: block;
        padding: 6px 20px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        transition: all 0.1s linear;

        i {
          padding-right: 10px;
          color: #8692a2;
        }
        &:hover {
          background: #334861;
        }
      }
      .arrow {
        display: block;
        position: relative;

        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f107";
          display: inline-block;

          position: absolute;
          font-weight: 900;
          transform: rotate(90deg);
          right: 15px;
          top: 20%;
        }
      }
      .arrow-deg {
        display: block;
        position: relative;
        &::after {
          font-family: "Font Awesome 5 Free";
          content: "\f107";
          display: inline-block;

          position: absolute;
          font-weight: 900;
          transform: rotate(0deg);
          right: 15px;
          top: 20%;
        }
      }
      .sub-menu {
        list-style: none;
        width: 200px;
        li {
          margin: 5px 10px;
          a {
            padding: 2px 10px;
            padding-left: 50px;
            &:hover {
              background: #334861;
            }
          }
        }
      }
    }
  }
  .nav-sub-title {
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 200px;
    p {
      font-size: 14px;
      color: white;
      padding-left: 40px;
    }
    a {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 12px;
      padding-right: 22px;
      line-height: 24px;
    }
  }
  .left-nav-bottom {
    padding-top: 0;
    margin-top: 0;
    li {
      margin-top: 5px;
      margin-bottom: 5px;
      a {
        padding-top: 2px;
        padding-bottom: 2px;
        &:hover {
          background-color: transparent;
        }
        i {
          font-size: 10px;
        }
        .yellow {
          color: #efad2c;
        }
        .grey {
          color: #666666;
        }
        .red {
          color: #da471e;
        }
      }
    }
  }
}
.block-conteiner {
  display: flex;
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #fff;
    small {
      font-weight: 300;
      font-size: 60%;
    }
  }
  .button-section {
    width: 100%;

    border-radius: 3px;
    background: #65768b;
    padding: 12px 17px;
    header {
      position: relative;
      background: none;
      color: #fff;
      h4 {
        font-size: 14px;
        font-weight: 700;
      }
    }
    .btn-body {
      background-color: #566170;
      border-radius: 3px;
      margin-bottom: 20px;
      .btns {
        display: flex;
        justify-content: space-around;
        padding: 20px;
      }
      .default {
        background-color: #666666;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 3px;
      }
      .primary {
        background-color: #4f87ba;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 3px;
      }
      .info {
        background: #51bfbb;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 3px;
      }
      .success {
        background: #5ab85d;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 3px;
      }
      .warning-btn {
        color: #fff;
        background: #efad2c;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 3px;
      }
      .danger-btn {
        color: #fff;
        background: #da471e;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 3px;
      }
      .invers {
        background: #fff;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 3px;
      }
    }
  }
}
